<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;ghostrole_spawnpoint - Citadel Station 13 - Roleplay</title>
</head>
<body>
<header>
    <a href="index.html">Citadel Station 13 - Roleplay</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/ghostrole_spawnpoint.html#var">Var Details</a></header>
<main>
<h1>ghostrole_spawnpoint <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/ghostrole_spawnpoint.html">ghostrole_spawnpoint</a></aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 6"/></a></h1>

<p>Spawnpoint for a ghostrole</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/ghostrole_spawnpoint.html#var/max_spawns">max_spawns</a></th><td>allowed spawns</td></tr>
            <tr><th><a href="datum/component/ghostrole_spawnpoint.html#var/params">params</a></th><td>params list</td></tr>
            <tr><th><a href="datum/component/ghostrole_spawnpoint.html#var/proc_to_call_or_callback">proc_to_call_or_callback</a></th><td>callback or proc type</td></tr>
            <tr><th><a href="datum/component/ghostrole_spawnpoint.html#var/role_type">role_type</a></th><td>role type</td></tr>
            <tr><th><a href="datum/component/ghostrole_spawnpoint.html#var/spawns">spawns</a></th><td>current spawns</td></tr>
            <tr><th><a href="datum/component/ghostrole_spawnpoint.html#var/spawntext">spawntext</a></th><td>custom HTML spawntext to show, if any</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/max_spawns"><aside class="declaration">var </aside>max_spawns
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 10"/></a></h3>
        <p>allowed spawns</p><h3 id="var/params"><aside class="declaration">var </aside>params
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 16"/></a></h3>
        <p>params list</p><h3 id="var/proc_to_call_or_callback"><aside class="declaration">var </aside>proc_to_call_or_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L18">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 18"/></a></h3>
        <p>callback or proc type</p><h3 id="var/role_type"><aside class="declaration">var </aside>role_type
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 14"/></a></h3>
        <p>role type</p><h3 id="var/spawns"><aside class="declaration">var </aside>spawns
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 12"/></a></h3>
        <p>current spawns</p><h3 id="var/spawntext"><aside class="declaration">var </aside>spawntext
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/modules/ghostroles/spawnpoint.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;modules&#x2F;ghostroles&#x2F;spawnpoint.dm 22"/></a></h3>
        <p>custom HTML spawntext to show, if any</p></main>
<footer>
    citadel.dme
    <a href="https://github.com/Zandario/Citadel-Station-13-RP/tree/c34e6aca5d1b78375a406ed669b897cf0a26cf8c">c34e6ac</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
