<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;gps - Citadel Station 13 - Roleplay</title>
</head>
<body>
<header>
    <a href="index.html">Citadel Station 13 - Roleplay</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/gps.html#proc">Proc Details</a></header>
<main>
<h1>gps <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/gps.html">gps</a></aside>
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/datums/components/gps.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 4"/></a></h1>

<p>GPS component. Atoms that have this show up on gps. Pretty simple stuff.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/gps.html#proc/interact">interact</a></th><td>Called on COMSIG_ITEM_ATTACK_SELF</td></tr>
            <tr><th><a href="datum/component/gps.html#proc/on_AltClick">on_AltClick</a></th><td>Calls toggletracking</td></tr>
            <tr><th><a href="datum/component/gps.html#proc/on_emp_act">on_emp_act</a></th><td>Called on COMSIG_ATOM_EMP_ACT</td></tr>
            <tr><th><a href="datum/component/gps.html#proc/on_examine">on_examine</a></th><td>Called on COMSIG_PARENT_EXAMINE</td></tr>
            <tr><th><a href="datum/component/gps.html#proc/toggletracking">toggletracking</a></th><td>Toggles the tracking for the gps</td></tr></table><h2 id="proc">Proc Details</h2><h3 id="proc/interact"><aside class="declaration">proc </aside>interact<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/datums/components/gps.dm#L44">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 44"/></a></aside>
        </h3>
        <p>Called on COMSIG_ITEM_ATTACK_SELF</p><h3 id="proc/on_AltClick"><aside class="declaration">proc </aside>on_AltClick<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/datums/components/gps.dm#L68">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 68"/></a></aside>
        </h3>
        <p>Calls toggletracking</p><h3 id="proc/on_emp_act"><aside class="declaration">proc </aside>on_emp_act<aside>(/<a href="datum.html">datum</a>/source, severity) 
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/datums/components/gps.dm#L53">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 53"/></a></aside>
        </h3>
        <p>Called on COMSIG_ATOM_EMP_ACT</p><h3 id="proc/on_examine"><aside class="declaration">proc </aside>on_examine<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/user, /list/examine_list) 
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/datums/components/gps.dm#L49">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 49"/></a></aside>
        </h3>
        <p>Called on COMSIG_PARENT_EXAMINE</p><h3 id="proc/toggletracking"><aside class="declaration">proc </aside>toggletracking<aside>(/<a href="mob.html">mob</a>/user) 
        
    
            <a href="https://github.com/Zandario/Citadel-Station-13-RP/blob/c34e6aca5d1b78375a406ed669b897cf0a26cf8c/code/datums/components/gps.dm#L72">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;gps.dm 72"/></a></aside>
        </h3>
        <p>Toggles the tracking for the gps</p></main>
<footer>
    citadel.dme
    <a href="https://github.com/Zandario/Citadel-Station-13-RP/tree/c34e6aca5d1b78375a406ed669b897cf0a26cf8c">c34e6ac</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
