---
title: "Buoy GUI Wrapper Title"
layout: layouts/nano.jsx
---
{% comp "wrapper.block" %}
	Sunt reprehenderit occaecat ut incididunt fugiat tempor minim ea anim sit. Esse id labore fugiat id ea voluptate dolor consequat adipisicing. Culpa sint consequat culpa proident. Deserunt consectetur veniam ullamco labore tempor tempor proident ullamco in nostrud non. Culpa id ut velit aliquip exercitation velit voluptate exercitation reprehenderit voluptate esse.
{% endcomp %}
